div.btn-reader {
  display: block;
  /* max-width: 50px; */
  margin-left: auto;
  margin-right: auto;
}

#b1 {
  position: fixed;
  bottom: 6px;
  left: 10px;
}

#b2 {
  position: fixed;
  bottom: 6px;
  right: 45vw;
}

#b3 {
  position: fixed;
  bottom: 6px;
  right: 10px;
}
